<%- include('nav.ejs') %>
<div class="container-fluid bg-white p-3">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center bg-warning text-dark font-weight-bold shadow">Welcome Disha Computers</h1>
        </div>
    </div>
</div>		 
<%- include('footer.ejs') %>     